.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-size: 14px;
}

.login__container {
  background-color: white;
  border-radius: 20px;
  padding: 10px 50px 40px;
  width: 70%;
  height: 92%;
  max-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form__container {
  padding-top: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.login__title {
  font-size: 28px;
  color: #800000; /* Dark red */
  font-weight: bold;
  margin-bottom: 10px;
}

.login__subtext {
  color: #777;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: rgb(4, 49, 252);
}

.login__container .forgot__password,
.signup__text {
  padding: 12px 0;
}

.button__login {
  display: flex;
  width: 10px;
}
.signup__text {
  display: flex;
  justify-content: center;
}
