.reset-password-page {
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  .reset-password-container {
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .reset-password-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .reset-password-subtext {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .reset-password-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
    width: 32vw;
  }