.more-car-section {
  padding: 60px 80px;
  text-align: center;
}

.more-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #790B0A;
  margin-bottom: 40px;
}

.more-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
}

.more-card {
  width: 200px;
  height: 120px;
  background-color: transparent;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-card-image:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.more-card-image {
  width: 100px;
  height: 66px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.more-card-title {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
