.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
   padding: 10px 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand {
  font-size: 20px;
}

.navbar-right {
  display: flex;
  gap: 16px;
}
